


html{font-family:Cambria, georgia,"Times New Roman", Times, serif;
	color:#333;
	width:940px;
	margin:0 auto;}
	
body{width:460px;
	margin:0 auto;
	line-height:1.5em;
	padding:72px;}
	
h1,h2,h3,h4,h5,h6{margin-bottom:24px;font-weight:bold;}
h1 {
  font-size: 1.5em; /* 24px --> 24 ¡Â 16 = 1.5 */
  line-height: 1em; /* 24px --> 24 ¡Â 24 = 1 */
}

h2 {
  font-size: 1.375em; /* 22px --> 22 ¡Â 16 = 1.375 */
  line-height: 1.0909em; /* 24px --> 24 ¡Â 22 = 1.090909(09) */
}

h3 {
  font-size: 1.25em; /* 20px --> 20 ¡Â 16 = 1.25 */
  line-height: 1.2em; /* 24px --> 24 ¡Â 20 = 1.2 */
}

h4 {
  font-size: 1.125em; /* 18px --> 18 ¡Â 16 = 1.125 */
  line-height: 1.333em; /* 24px --> 24 ¡Â 18 = 1.3333333(3) */
}

h5, h6 {
  font-size: 1em; /* 16px --> 16 ¡Â 16 = 1 */
  line-height: 1.5em; /* 24px --> 24 ¡Â 16 = 1.5 */
}



p{margin-bottom:24px;}
body>p:first-of-type{font-size:1.125em;
					line-height:1.333em;}
					
p+p {
  text-indent: 1em;
  margin-top: -24px;
}

blockquote{margin:0 60px 0 45px;
		border-left:5px solid #ccc;
		padding-left:10px;
		text-indent:-0.4em;}
blockquote b{display:block;text-indent:0;}


#me{float:right;margin:0 0 0 20px;display:block;width:180px;height:auto;padding:5px; border:1px solid #ccc;
-moz-border-radius:2px;
border-radius:2px;}

